## OPERATING SYSTEM
*._*
*.DS_Store*
*thumbs.db*
*desktop.ini*

## BUILD
**/target/**
**/facade/**
*.versionsBackup*
*buildNumber.properties
*git.properties
**/dependency-reduced-pom.xml

## ECLIPSE
*.classpath*
*.project*
*.settings*

## INTELLIJ
*.idea*
*.iml*
*.ipr*
*.iws*

